/*-----MAIN DEL FOOTER-----*/
@media(max-width:991px) {
    .footer-row {
        text-align: center;
    }

    .footer-links {
        width: 100%;
        margin-bottom: 30px;
    }
}

@media screen and (max-width:820px) {
    .carusel img{
        background-color: #f7f7f9;
        flex: 1;
        width: 300px;
        height: 300px;
        max-width: 500px;
    }

    .card-img img{
        width: 100px;
        height: 100px;
        margin-left: 20px;
        object-fit: cover;
    }

    .container-price span{
        font-size: 15px;
        font-weight: 300;
        margin-top: 10px;
    }
    
    .form-group label{
        width: 80px;
        color: #222;
        font-weight: 500;
    }
    
    .form-group select{
        width: 200px;
        border: none;
        padding: 10px 15px;
        background-color: #f7f7f7;
        outline: none;
        color: #666;
    }
    
    .btn-clean{
        border: none;
        background: none;
        color: #666;
        margin-left: 100px;
        cursor: pointer;
    }

    .input-quantity{
        background-color: #f7f7f7;
        border: none;
        padding: 7px;
        width: 55px;
        height: 100%;
        color: #666;
        font-weight: 400;
    }

    .btn-increment-decrement{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    
    .btn-increment-decrement i{
        font-size: 12px;
        color: #666;
        cursor: pointer;
    }

    .btn-add-to-cart{
        border: none;
        background-color: #252525;
        padding: 10px;
        color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-weight: 500;
        cursor: pointer;
        font-size: 10px;
    }
    
    .text-product h3{
        color: inherit;
        font-weight: inherit;
        font-size: 12px;
    }

    .text-product p{
        font-size: 11px;
    }

    .price {
        font-size: 11px;
    }

    .container-related-products h2{
        font-size: 20px;
    }

}

@media screen and (max-width:560px) {
    .carusel img{
        background-color: #f7f7f9;
        flex: 1;
        width: 250px;
        height: 250px;
        max-width: 500px;
    }

    .card-img img{
        width: 70px;
        height: 70px;
        margin-left: 15px;
        object-fit: cover;
    }

    .container-price span{
        font-size: 13px;
        font-weight: 200;
        margin-top: 10px;
    }
    
    .form-group label{
        width: 80px;
        color: #222;
        font-weight: 500;
    }
    
    .form-group select{
        width: 150px;
        border: none;
        padding: 10px;
        font-size: 10px;
        background-color: #f7f7f7;
        outline: none;
        color: #666;
    }
    
    .btn-clean{
        border: none;
        background: none;
        color: #666;
        margin-left: 100px;
        cursor: pointer;
        font-size: 10px;
    }

    .input-quantity{
        background-color: #f7f7f7;
        border: none;
        padding: 7px;
        width: 55px;
        height: 100%;
        color: #666;
        font-weight: 400;
    }

    .btn-increment-decrement{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5px;
        right: 5px;
    }
    
    .btn-increment-decrement i{
        font-size: 10px;
        color: #666;
        cursor: pointer;
    }

    .btn-add-to-cart{
        border: none;
        background-color: #252525;
        padding: 10px;
        color: #f7f7f7;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        font-weight: 500;
        cursor: pointer;
        font-size: 10px;
    }
    
    .text-product h3{
        color: inherit;
        font-weight: inherit;
        font-size: 12px;
    }

    .text-product p{
        font-size: 11px;
    }

    .price {
        font-size: 11px;
    }

    .container-related-products h2{
        font-size: 20px;
    }

    .title-description h4, .title-additional-information h4, .title-review h4{
        font-weight: 200;
        color: #666;
        font-size: 15px;
    }
    
    .text-description, .text-additional-information, .text-review{
        font-size: 13px;
        color: #252525;
        line-height: 22px;
        margin-top: 25px;
    }

    @media screen and (max-width:435px) {
        .carusel img{
            background-color: #f7f7f9;
            flex: 1;
            width: 200px;
            height: 200px;
            max-width: 300px;
        }
    
        .card-img img{
            width: 50px;
            height: 50px;
            margin-left: 15px;
            object-fit: cover;
        }
    
        .container-price span{
            font-size: 10px;
            font-weight: 150;
            margin-top: 10px;
        }
        
        .form-group label{
            width: 50px;
            color: #222;
            font-weight: 500;
        }
        
        .form-group select{
            width: 120px;
            border: none;
            padding: 10px;
            font-size: 8px;
            background-color: #f7f7f7;
            outline: none;
            color: #666;
        }
        
        .btn-clean{
            border: none;
            background: none;
            color: #666;
            margin-right: 100px;
            cursor: pointer;
            font-size: 10px;
        }
        
        .btn-increment-decrement i{
            font-size: 8px;
            color: #666;
            cursor: pointer;
        }
    
        .btn-add-to-cart{
            border: none;
            background-color: #252525;
            padding: 10px;
            color: #f7f7f7;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 5px;
            font-weight: 500;
            cursor: pointer;
            font-size: 8px;
        }
        
        .text-product h3{
            color: inherit;
            font-weight: inherit;
            font-size: 8px;
        }
    
        .text-product p{
            font-size: 10px;
        }
    
        .price {
            font-size: 8px;
        }
    
        .container-related-products h2{
            font-size: 15px;
        }
    
        .title-description h4, .title-additional-information h4, .title-review h4{
            font-weight: 200;
            color: #666;
            font-size: 8px;
        }
        
        .text-description, .text-additional-information, .text-review{
            font-size: 8px;
            color: #252525;
            line-height: 22px;
            margin-top: 25px;
        }
    
    }

    @media screen and (max-width:360px) {
        .carusel img{
            background-color: #f7f7f9;
            flex: 1;
            width: 100px;
            height: 100px;
            margin-top: 80px;
            max-width: 300px;
        }
    }

}

